[Unit]
Description=Permet la telemetrie et le controle de la voiture
After=ModemManager.service
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=on-failure
RestartSec=10
ExecStart=/usr/bin/sh /usr/local/bin/rctelemetrie_start.sh

[Install]
WantedBy=multi-user.target